.ContactData {
  border: 1px solid #eee;
  box-shadow: 0 20px 3px #ccc;
  margin: 20px auto;
  padding: 25px;
  box-sizing: border-box;
  width: 80%;
  text-align: center;
}

.Input {
display: block;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
